{% extends 'flatpages/default.html' %} 

{% load custom_filters %}

{% block title %}
Новость
{% endblock title %}

{% block title_navbar %}
Новость
{% endblock title_navbar %}

{% block content %}

    <h2>{{ new.header|censor }}</h2>  <h1>{{ new.post_time|date:'M d Y' }}</h1>
    {{ new.text|censor }}
    <br>
    <h3>Категории</h3>
    {% for cat in category %}
    | {{ cat.category__category_name }} |   
    {% endfor %}
    <br><br>
    <h4><a href=http://127.0.0.1:8000/post/{{ new.post_var }}/{{ new.pk }}/update>Изменить</a>
        <a href=http://127.0.0.1:8000/post/{{ new.post_var }}/{{ new.pk }}/delete>Удалить</a></h4>
{% endblock content %}